/* ./bookingTemplate/rt-ui/typography.css */


/*
RT-UI Framework
Version: 0.1.0

File:
typography.css

Description:
Global design tokens used across every
Business Systems Collection project.

Author:
RodriguezTech Studios
*/


/* Typography */

:root {

    --font-heading: "Poppins", sans-serif;
    --font-body: "Inter", sans-serif;

    --fs-xs: .75rem;
    --fs-sm: .875rem;
    --fs-base: 1rem;
    --fs-lg: 1.125rem;
    --fs-xl: 1.5rem;
    --fs-2xl: 2rem;
    --fs-3xl: 3rem;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    --line-height: 1.6;

  }